*{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: normal;
    color: #333;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

.emoji {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin-bottom: -0.25em;
}

body {
    background: #444;
}

.credits {
    position: fixed;
    width: 140px;
    bottom: 0;
    right: 0;
    overflow: hidden;
    font-family: 'Love Ya Like A Sister';
    font-size: 24px;
    text-align: center;
    padding: 30px;
    color: rgba(81, 203, 238, 1);
    text-transform: uppercase;
    z-index: 500;
}

#light-box {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
    z-index: 1000;
}

#light-box h1 {
    margin-top: 50px;
    color: #fff;
    font-size: 50px;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Love Ya Like A Sister';
}

#topic-change {
    width: 500px;
    margin: 0 auto;
    color: #fff;
    font-size: 18px;
}

input#name{
    width: 300px;
    overflow: hidden;
    padding: 10px 22px;
    border: 1px solid #fff;
    border-radius: 30px;
    margin: 60px auto;
    font-size: 18px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    font-weight: 300;
    background: #eee;
}

input#name:focus {
    background: #fff;
    box-shadow: 0 0 7px 1px rgba(81, 203, 238, 1);
    -webkit-box-shadow: 0px 0px 7px 1px rgba(81, 203, 238, 1);
    -moz-box-shadow: 0px 0px 7px 1px rgba(81, 203, 238, 1);
    -o-box-shadow: 0px 0px 7px 1px rgba(81, 203, 238, 1);
    box-shadow: 0px 0px 7px 1px rgba(81, 203, 238, 1);
}

#title {
    position: relative;
    font-family: 'Love Ya Like A Sister';
    padding: 20px;    
    /*background: -webkit-linear-gradient(90deg, #50C9C3 10%, #96DEDA 90%);
    background: -moz-linear-gradient(90deg, #50C9C3 10%, #96DEDA 90%);
    background: -ms-linear-gradient(90deg, #50C9C3 10%, #96DEDA 90%);
    background: -o-linear-gradient(90deg, #50C9C3 10%, #96DEDA 90%);
    background: linear-gradient(90deg, #50C9C3 10%, #96DEDA 90%);*/
    background: url("../back.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    color: #fff;
    font-size: 30px;
    text-shadow: 0 1px 7px #444;
    text-align: center;
    text-transform: uppercase;
    z-index: 800;
}

.info-bar-back {
    position: relative;
    background: #333;
    text-align: center;
    z-index: 600;
}

.info-bar {
    position: relative;
    overflow: hidden;
}

#display-name {
    display: inline-block;
    line-height: 40px;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 35px;
    color: #ddd;
}

#topicBox {
    display: inline-block;
    line-height: 40px;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 35px;
    color: #fff;
    background: #d9534f; 
}

a:link, a:visited, a:hover, a:focus, a:active {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
    font-weight: none;
}

a#rejectButton {
    display: inline-block;
    padding: 20px;
    color: #fff;
    background: #c9302c;
}

a#rejectButton i.fa {
    color: #fff;
}

a#rejectButton:hover, a#rejectButton:focus {
    background: #c9302c;
}

#topic-field {
    position: absolute;
    top: 12px;
    right: 75px;
    width: 160px;
    overflow: hidden;
    margin: 0;
    border: 1px solid #ccc;
    border-right-width: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 7px 14px;
    font-weight: 300;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

#topic-field:focus {
    border-color: rgba(81, 203, 238, 1) !important;
}

#send-topic {
    position: absolute;
    top: 12px;
    right: 20px;
    overflow: hidden;
    padding: 7px 20px;
    border: 1px solid rgba(81, 203, 238, 1);
    border-left-width: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 0;
    background: rgba(81, 203, 238, 1);
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 300;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

#send-topic i.fa {
    color: #fff;
}

#send-topic:focus {
    background: #333;   
}

.numDisp-icon {
	display: inline-block;
	color: #ddd;
	font-size: 28px;
	margin-left: 35px;
	margin-right: 7px;
}

.numDisp-icon i.fa {
    color: #ccc;
}

#numDisp {
	display: inline-block;
	color: #ddd;
	font-size: 28px;
	margin: 0;
}

#content {
    width: 715px;
    height: 300px;
    border-bottom: 1px solid #555;
    padding: 10px 20px;
    margin: 20px auto;
    overflow-y: scroll;
}

.message {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 12px;
}

.user-name {
    position: relative;
    float: left;
    width: 80px;
    overflow: hidden;
    padding: 7px 12px;
    border-radius: 17px;
    font-size: 14px;
    color: #fff;
    background: rgba(81,203,238,1);
    text-align: center;
    text-transform: capitalize;
}

.user-msg {
    max-width: 460px;
    float: left;
    overflow: hidden;
    background: #eee;
    padding: 7px 12px;
    margin-left: 10px;
    border-radius: 3px;
    border: 1px solid #777;
}

.prev-msgs-welcome-msg {
    color: #444;
    padding: 0 40px;
    text-align: center;
    display: block;
}

#topics-list {
    position: fixed;
    width: 200px;
    height: 100%;
    right: 0;
    top: 0;
    padding-top: 138px;
    background: #333;
    z-index: 400;
    border-left: 1px solid #444;
}

#topics-list p {
    color: #fff;
    padding: 14px;
    border-top: 1px solid #444;
}

#topics-list p:hover {
    background: #393939;
}

#topics-list p:last-of-type {
    border-bottom: 1px solid #444;
}

.controls {
    margin: 0 auto 20px auto;
    text-align: center;
}

input.field {
    width: 299px;
    height: 20px;
    margin: 0;
    border: 1px solid #ccc;
    border-right-width: 0;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: 7px 14px;
    font-weight: 300;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}

input.field:focus {
    border-color: rgba(81,203,238,1) !important;
}

input.send {
    height: 36px;
    padding: 7px 20px;
    border: 1px solid rgba(81,203,238,1);
    border-left-width: 0;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    margin: 0;
    background: rgba(81,203,238,1);
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
	font-weight: 300;
	-webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}

input.send:focus {
	background: rgba(81,203,238,1);	
}

.emoticons {
    display: block;
    width: 360px;
    height: 98px;
    overflow-y: scroll;
    border: 1px solid #777;
    border-top-width: 0;
    padding: 2px;
    background: #999;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 0 auto;
}

.emo {
    width: 33px;
    margin: 2px;
    padding: 4px;
    text-align: center;
    background: #7f7f7f;
    float: left;
    cursor: pointer;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    transition: all 0.20s ease-in-out;
}

.emo:hover, .emo:focus {
    /*background: rgba(81,203,238,1);*/
    background: #333;
}

.emo img {
    width: 33px;
    margin: 0 auto;
}