*{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: normal;
    color: #333;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

.title {
    width: 80%;
    overflow: hidden;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    margin: 0 auto;
    background-color: #fff;
    text-transform: uppercase;
}

.info-wrapper {
    margin: 20px auto;
    text-align: center;
}

input#name{
    width: 300px;
    overflow: hidden;
   	margin-right: 50px;
    padding: 7px 14px;
    border: 1px solid #ccc;
    border-radius: 100px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	font-weight: 300;
}

input#name:focus {
     border-color: rgba(81, 203, 238, 1) !important;
}

.numDisp-icon {
	display: inline-block;
	color: rgba(81, 203, 238, 1);
	font-size: 28px;
	margin: 0;
	margin-right: 7px;
}

.numDisp-icon i.fa.fa-user {
    color: rgba(81, 203, 238, 1);
}

#numDisp {
	display: inline-block;
	color: rgba(81, 203, 238, 1);
	font-size: 28px;
	margin: 0;
}

#content {
    width: 498px;
    height: 298px;
    border: 1px solid #ccc;
    padding: 10px 14px;
    margin: 0 auto 20px auto;
    overflow-y: scroll;
    word-break: normal;
    border-radius: 5px;
}

p.chat-msg {
    margin: 4px 0;
}

.prev-msgs-welcome-msg {
    width: 98%;
    color: rgba(81,203,238,1);
    background: #fafafa;
    text-align: center;
    display: block;
    padding: 1%;
}

.controls {
    margin: 0 auto 20px auto;
    text-align: center;
}

input.field {
    width: 299px;
    overflow: hidden;
    margin: 0;
    border: 1px solid #ccc;
    border-right-width: 0;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: 7px 14px;
    font-weight: 300;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}

input.field:focus {
    border-color: #EB3349 !important;
}

input.send {
    overflow: hidden;
    padding: 7px 20px;
    border: 1px solid #EB3349;
    border-left-width: 0;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    margin: 0;
    background: #EB3349;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
	font-weight: 300;
	-webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}

input.send:focus {
	background: #333;	
}

.emoticons {
    display: block;
    width: 360px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-top-width: 0;
    padding: 2px;
    background: #fff;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 0 auto;
}

.emo {
    width: 33px;
    margin: 2px;
    padding: 4px;
    text-align: center;
    background: #fafafa;
    float: left;
    cursor: pointer;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    transition: all 0.20s ease-in-out;
}

.emo:hover, .emo:focus {
    background: #EB3349;
}

.emo img {
    width: 33px;
    margin: 0 auto;
}