doctype
html
    head
        style
            include main.css
        title= "Raven"
        script(src = '/emojify.min.js', type = 'text/javascript')
        script(src = '/emojify.js', type = 'text/javascript')
        script(src = '/jquery-1.11.1.min.js', type = 'text/javascript')
        script(src = '/chat.js', type = 'text/javascript')
        script(src = '/socket.io/socket.io.js', type = 'text/javascript')
        link(href = '//fonts.googleapis.com/css?family=Lato:300,400,700', rel='stylesheet', type = 'text/css')
        link(href = "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel = "stylesheet")
    body
        .title Raven
        .info-wrapper
            #lightBox
                input#name(type = "text", placeholder = 'And you are? (Name)', tabindex = "1", autofocus)
            #topicBox
                p Game of Thrones
            a#rejectButton(href="#") Reject
            .numDisp-icon
                i.fa.fa-user
            #numDisp
        #content
            #prevMsgs
            #newMsgs
        .controls
            input.field(type="text", id="field", placeholder="What's on your mind?", tabindex="2")
            input.send(type="button", value="Send", id="send", tabindex="3")
            .emoticons
                #emo-smile.emo(tabindex="4")
                    img(src="/pngs/smile.png", alt="Smile")
                #emo-smiley.emo(tabindex="5")
                    img(src="/pngs/smiley.png", alt="Smiley")
                #emo-laughing.emo(tabindex="6")
                    img(src="/pngs/laughing.png", alt="Laughing")
                #emo-blush.emo(tabindex="7")
                    img(src="/pngs/blush.png", alt="Blush")
                #emo-relaxed.emo(tabindex="8")
                    img(src="/pngs/relaxed.png", alt="Relaxed")
                #emo-grin.emo(tabindex="9")
                    img(src="/pngs/grin.png", alt="Grin")
                #emo-stuck_out_tongue_winking_eye.emo(tabindex="10")
                    img(src="/pngs/stuck_out_tongue_winking_eye.png", alt="Stuck_out_tongue_winking_eye")
                #emo-wink.emo(tabindex="11")
                    img(src="/pngs/wink.png", alt="Wink")
                #emo-confused.emo(tabindex="12")
                    img(src="/pngs/confused.png", alt="Confused")
                #emo-sunglasses.emo(tabindex="13")
                    img(src="/pngs/sunglasses.png", alt="Sunglasses")


                #emo-kissing_heart.emo(tabindex="14")
                    img(src="/pngs/kissing_heart.png", alt="kissing_heart")
                #emo-stuck_out_tongue.emo(tabindex="15")
                    img(src="/pngs/stuck_out_tongue.png", alt="stuck_out_tongue")
                #emo-worried.emo(tabindex="16")
                    img(src="/pngs/worried.png", alt="worried")
                #emo-sleeping.emo(tabindex="17")
                    img(src="/pngs/sleeping.png", alt="sleeping")
                #emo-expressionless.emo(tabindex="18")
                    img(src="/pngs/expressionless.png", alt="expressionless")
                #emo-unamused.emo(tabindex="19")
                    img(src="/pngs/unamused.png", alt="unamused")
                